// Color Variables
$colors-spot: (#f6a, #86e, #88b300, #fc2);
$colors-back: (#344146, #43353D);

// Fonts
$main-font: 'Exo 2', sans-serif;
$main-font-color: #555;
$main-font-size: 12pt;
$invert-font: 'Exo 2', sans-serif;
$invert-font-color: #FFF;
$invert-font-size: 12pt;

// For navbar stuff
$navbar-button-width: 180px;

// Learn docs admonitions
// BG, Left Border, Header Text, Body Text
$admonition-note: (#9FA8DA, #5C6BC0, #E8EAF6, #283593);
$admonition-warning: (#FFCC80, #FFA726, #FFF3E0, #EF6C00);
$admonition-tip: (#A5D6A7, #66BB6A, #E8F5E9, #558B2F);
$admonition-attention: (#ef9a9a, #ef5350, #ffebee, #c62828);
$admonition-hint: (#81D4FA, #29B6F6, #E1F5FE, #0277BD);