// Color Variables
$colors-spot: (#f6a, #86e, #88b300, #fc2);
$colors-back: (#344146, #43353D);

// Fonts
$main-font: 'Exo 2', sans-serif;
$main-font-color: #555;
$main-font-size: 12pt;
$invert-font: 'Exo 2', sans-serif;
$invert-font-color: #FFF;
$invert-font-size: 12pt;

// For navbar stuff
$navbar-button-width: 180px;