# Python/Django related things
env/
media/
logs/
static/admin
*.sock
*.pyc
*.json

# Docs
docs/
static/_static/

# File-housekeeping
.bash_history
.bash_logout
.bashrc
.profile
.rnd
.selected_editor
.sudo_as_admin_successful

# Ignore projects stuff
.idea/

# Squishy squishy
hentai/
static/analytics/
static/bootstrap/