alabaster==0.7.10
Babel==2.4.0
Django==1.10.7
django-el-pagination==3.0.1
django-filter==1.0.2
django-haystack==2.6.0
django-photologue==3.6
django-sortedm2m==1.3.3
django-sphinxdoc==1.5.1
djangorestframework==3.6.2
docutils==0.13.1
ExifRead==2.1.2
gunicorn==19.7.1
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
Pillow==4.1.0
psycopg2==2.7.1
Pygments==2.2.0
pytz==2017.2
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
SQLAlchemy==1.1.9
Whoosh==2.7.4
