{%  extends "base.html" %}

{% comment %}
Don't forget about how base.html is composed to work with this.
For each component of the storyboard_list, we want to generate a Bootstrap card, I think.
{% endcomment %}

{% block title %}Storyboards{% endblock %}

{% block content %}
    <div class="opening-banner-sb"><h1 class="display opening-header">Storyboard Showcase</h1><div class="bae-sb"></div></div>
    <h2 class="special-banner-sub-2 top-header">Search</h2>
    <div class="form-group">
        <form class="form-inline" action="/showcase/search" method="get">
            <label for="storyboard_search">Keywords</label>
            <input id="storyboard_search" type="text" name="s" value="">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="f" placeholder="off"> Featured only?</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="c" placeholder="off"> Classic only?</label>
            <input type="submit" value="Search!">
        </form>
    </div>
    <h1 class="special-banner-2 rounded">Storyboards</h1>
    {% if storyboard_list %}
        <div class="card-deck-wrapper">
            <div class="card-deck">
                {% for s in storyboard_list %}
                    {% if forloop.counter0|divisibleby:"2" %} <div class="row">{% endif %}
                    <div class="card col-xs-12 col-sm-6">
                        <h4 class="card-header rounded special-banner-2"><a href="/showcase/sb/{{ s.pk }}" style="color: white">{{ s }}</a> </h4>
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="/media/{{ s.preview }}" alt="{{ s.song }}">
                            </a>
                            <div class="media-body">
                                <p class="card-text media-heading">Storyboarded by <a href="/showcase/author/{{ s.storyboarder.pk }}">{{ s.storyboarder }}</a>.</p>
                                {% if s.video %}<a href="{{ s.video }}" class="btn btn-info">Video</a>{% endif %}
                                <a href="{{ s.download }}" class="btn btn-primary">Download!</a>
                            </div>
                        </div>
                    </div>
                    {% if not forloop.counter0|divisibleby:"2" %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>:(</p>
{% endif %}
{% endblock %}

{% comment %}
                    <div class="card col-xs-12 col-sm-6">
                        <img class="rounded card-img mx-auto" src="/media/{{ s.preview }}" alt="{{ s.song }}">
                        <div class="card-block card-inverse card-danger">
                            <h4 class="card-header"><a href="/showcase/sb/{{ s.pk }}">{{ s }}</a> {% if s.featured %} 🌟 {% endif %}</h4>
                        </div>
                        <div class="card-block">
                            <p class="card-text"><i>Storyboarded by <a href="/showcase/author/{{ s.storyboarder.pk }}">{{ s.storyboarder }}</a>.</i> Developed in {{ s.medium }}.</p>
                            {% if s.video %}<a href="{{ s.video }}" class="btn btn-info">Video</a>{% endif %}
                            <a href="{{ s.download }}" class="btn btn-primary">Download!</a>
                        </div>
                    </div>
{% endcomment %}