{% extends "base.html" %}
{% load showcase_extras %}

{% comment %}
Don't forget about how base.html is composed to work with this.
For each component of the storyboard_list, we want to generate a Bootstrap card, I think.
{% endcomment %}

{% block title %}{{ storyboard }}{% endblock %}


{% block head %}
    {% if storyboard.gallery %}
        <link rel="stylesheet" href="/static/base/sb.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.css">
    {% endif %}
{% endblock %}

{% block content %}
    <header class="opening-banner" style="background-image: url(//assets.ppy.sh//beatmaps/{{ storyboard.set_id }}/covers/cover.jpg);"></header>
    <h1 class="special-banner-2 top-header">{{ storyboard }}</h1>

    <h2 class="special-banner-sub-2 rounded">Overview</h2>

    <div class="container-fluid">
        <div class="card sb-card col-sm-12 col-md-4">
                <img class="rounded mx-auto d-block" src="//b.ppy.sh/thumb/{{ storyboard.set_id }}l.jpg" alt="{{ s.song }}"/>
                <div class="card-block">
                    <dl class="row">
                        <dt class="col-sm-6 col-md-3">Storyboarder:</dt>
                        {% for sber in storyboard.storyboarder.all %}
                        <dd class="col-sm-6 col-md-12"><a href="/showcase/author/{{ sber.pk }}">{{ sber }}</a></dd>
                        {% endfor %}
                        <dt class="col-sm-6 col-md-3">Mapper:</dt>
                        <dd class="col-sm-6 col-md-12">{{ storyboard.mapper }}</dd>
                        <dt class="col-sm-6 col-md-9">Developed in {{ storyboard.get_medium_display }}.</dt>
                    </dl>
                </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <p>{{ storyboard.description }}</p>
            <p>
            {% if storyboard.video %}<a href="{{ storyboard.video }}" class="btn btn-info">Video</a>{% endif %}
            {% if storyboard.set_id %}<a href="//osu.ppy.sh/s/{{ storyboard.set_id }}" class="btn btn-primary">Download!</a>{% endif %}
            <a class = "btn btg-lg btn-secondary" href="/showcase/sb/{% get_random_storyboard as sb %}{{ sb.pk }}">Show Me Another!</a>
            </p>

        </div>
    </div>

    {% if storyboard.gallery %}
        <h2 class="special-banner-sub-2 rounded">Screenshots</h2>
        <p>
            <div class="row">
                {% for photo in storyboard.gallery.public %}
                    <a class="col-sm-4 screenshot" href="{{ photo.get_sb_screenshot_url }}" data-toggle="lightbox" data-gallery="screenshots">
                        <img class="img-fluid rounded mx-auto d-block" src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
                    </a>
                {% endfor %}
            </div>
        </p>
    {% endif %}

    {% if storyboard.comments %}
    <h2 class="special-banner-sub-2 rounded">{% if storyboard.storyboarder.count > 1 %}Authors'{% else %}{{ storyboard.storyboarder.first }}'s{% endif %} Comments</h2>
    <div class="media">
        {% if storyboard.storyboarder.count == 1 %}<img class="media-left float-xs-left" src="{{ storyboard.storyboarder.first.avatar.url }}" style="max-height:128px;"/>{% endif %}
        <div class="media-body">
            <p>{{ storyboard.comments }}</p>
        </div>
    </div>
    {% endif %}

    {% if storyboard.gallery %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.js"></script>
        <script src="/static/showcase/add-lightbox.js"></script>
    {% endif %}
{% endblock %}