{%  extends "base.html" %}
{% load showcase_extras %}

{% comment %}
Don't forget about how base.html is composed to work with this.
For each component of the storyboard_list, we want to generate a Bootstrap card, I think.
{% endcomment %}

{% block title %}Storyboards{% endblock %}

{% block head %}<link rel="stylesheet" href="/static/base/sb.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.css" />{% endblock %}

{% block content %}
    <div class="opening-banner-sb"><h1 class="display opening-header">Storyboard Showcase</h1><div class="bae-sb"></div></div>
    <h2 class="special-banner-sub-2 top-header">Search</h2>
    <div class="form-group">
        <form class="form-inline" action="/showcase/search" method="get">
            <label for="storyboard_search">Keywords</label>
            <input id="storyboard_search" type="text" name="s" value="">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="f" placeholder="off"> Featured only?</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="c" placeholder="off"> Classic only?</label>
            <input type="submit" value="Search!">
        </form>
    </div>
    <h1 class="special-banner-2 rounded">Storyboards</h1>
    {% if storyboard_list %}
        <div class="card-group">
            <div class="card-deck">
                {% for s in storyboard_list %}
                    {% if forloop.counter0|divisibleby:"2" %} <div class="row">{% endif %}
                    {% show_sb_card s %}
                    {% if not forloop.counter0|divisibleby:"2" %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>:(</p>
{% endif %}
{% endblock %}