// Variables for showcase card

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

$showcase-header-font: 'Montserrat', sans-serif;
$showcase-body-font: 'Exo 2', sans-serif;

// Color palette
$showcase-color-spot1: #3ac2ec;
$showcase-color-spot2: #c1c8ca;
$showcase-color-sub1: #465d6f;
$showcase-color-sub2: #262d35;

// For the ratings
$showcase-color-rating: #53DF83;

$showcase-font-color: white;