@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@keyframes keyframe-pop-in {
  from {
    width: 0; }
  to {
    width: 50px; } }
@keyframes keyframe-rotation {
  0%, 100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-15deg); }
  75% {
    transform: rotate(15deg); } }
.showcase-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24pt;
  background: #262d35;
  border-bottom: 8px solid #3ac2ec;
  padding-left: 0.5em; }

.showcase-subtitle {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24pt;
  font-size: 12pt;
  padding-left: 5px; }

.showcase-body-container {
  background: #465d6f;
  padding-bottom: 10px; }

.showcase-body-text, .showcase-body-subtitle {
  font-family: "Exo 2", sans-serif;
  color: white; }
  .showcase-body-text a, .showcase-body-subtitle a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */ }

.showcase-body-subtitle {
  border-bottom: 2px solid #3ac2ec;
  font-style: italic; }

.showcase-button-set, .showcase-button-download, .showcase-button-rating {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24pt;
  -o-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: #262d35;
  border-left: 10px solid #c1c8ca;
  padding: 2.5px 0 2.5px 10px;
  margin-top: 10px; }
  .showcase-button-set:hover, .showcase-button-download:hover, .showcase-button-rating:hover {
    border-left: 25px solid #c1c8ca; }

.showcase-button-download {
  -o-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-left: 10px solid #3ac2ec; }
  .showcase-button-download:hover {
    border-left: 25px solid #3ac2ec; }

.showcase-button-rating {
  -o-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: border-left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-left: 10px solid #3ac2ec; }
  .showcase-button-rating:hover {
    border-left: 25px solid #3ac2ec; }

.showcase-tags {
  display: none; }
  .showcase-tags:target {
    display: inline; }

.showcase-rating-box {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24pt;
  font-size: 12pt;
  text-align: center;
  background: #465d6f;
  border-top: 5px solid #262d35;
  border-bottom: 5px solid #262d35;
  border-radius: 0.25rem;
  margin-top: 0.25em;
  margin-bottom: 0.5em; }

.showcase-rating-icon-box {
  width: 75px;
  height: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  background: white;
  content: ' ';
  margin: 5px; }

.showcase-rating-icon-rotate {
  animation: 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3s infinite keyframe-rotation; }
.showcase-rating-icon-pop {
  animation: 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) keyframe-pop-in; }

/*# sourceMappingURL=showcase.css.map */
