// Variables

// Fonts used
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Roboto+Slab');
$font-header: 'Roboto Slab', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-code: 'Inconsolata', monospace;

// Heading colors
$heading-colors: (#4CAF50, #388E3C, #81C784, #00695C);

// Learn docs admonitions
// BG, Left Border, Header Text, Body Text
$admonition-note: (#9FA8DA, #5C6BC0, #E8EAF6, #283593);
$admonition-warning: (#FFCC80, #FFA726, #FFF3E0, #EF6C00);
$admonition-tip: (#A5D6A7, #66BB6A, #E8F5E9, #558B2F);
$admonition-attention: (#ef9a9a, #ef5350, #ffebee, #c62828);
$admonition-hint: (#81D4FA, #29B6F6, #E1F5FE, #0277BD);

// Todos admonition
$admonition-todo-low: (#B0BEC5, #9CCC65, #ECEFF1, #37474F);
$admonition-todo-medium: (#B0BEC5, #FFCA28, #ECEFF1, #37474F);
$admonition-todo-high: (#B0BEC5, #ef5350, #ECEFF1, #37474F);

// Code-block colors
$code-block-colors: (#B0BEC5, #607D8B, #455A64, #263238);