.admonition {
  // background: nth($colors-back, 2);
  // border-left: solid 15px nth($colors-back, 1);
  //border-radius: 0.25em;
  //margin: 0.25em;
  padding: 0.25em;

  p {
    padding: 0.2em;

    &.last {
      padding: 0.2em 4em;
    }
  }

}

.admonition-title {
  font-family: $font-header;
  font-size: 18pt;
  padding: 0 0.5em;
  margin-bottom: 0.1em;
}

@mixin add-fa-icon-to-title($content) {
  .admonition-title {
    &::before {
      content: $content;
      font-family: FontAwesome;
      margin-right: 10px;
    }
  }
}

@mixin add-background-to-admonition($list) {
  background: nth($list,1);
  border-left: solid 15px nth($list,2);
  color: nth($list,4);
  .admonition-title {
    color: nth($list,3);
  }
}

.note {
  @include add-fa-icon-to-title("\f040");
  @include add-background-to-admonition($admonition-note);
}

.warning {
  @include add-fa-icon-to-title("\f071");
  @include add-background-to-admonition($admonition-warning);
}

.tip {
  @include add-fa-icon-to-title("\f0a4");
  @include add-background-to-admonition($admonition-tip);
}

.attention {
  @include add-fa-icon-to-title("\f06a");
  @include add-background-to-admonition($admonition-attention);
}

.hint {
  @include add-fa-icon-to-title("\f06b");
  @include add-background-to-admonition($admonition-hint);
}

.todo {
  @include add-fa-icon-to-title("\f046");
  $priorities: ("low", "medium", "high");
  $priorities_color: ($admonition-todo-low, $admonition-todo-medium, $admonition-todo-high);
  @for $i from 1 through length($priorities) {
    &.#{nth($priorities,$i)} {
      @include add-background-to-admonition(nth($priorities_color,$i));
    }
  }

}

.todo-source {
  font-size: 0.75rem;
  &::before {
    content: "\f002   ";
    font-family: FontAwesome;
    margin-right: 10px;
  }
}