<div id="carousel-storyboard" class="carousel slide" data-ride="carousel">

    {# Define indicators #}
    <ol class="carousel-indicators">
        {% for s in storyboards %}
            <li data-target="#carousel-storyboard" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>

    {# Define items inside carousel #}
    <div class="carousel-inner" role="listbox">
        {% for s,p in storyboards %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="carousel-overlay">
                    <img class="d-block mx-auto" src="{{ p.get_sb_screenshot_url }}" alt="{{ s }}" style="min-width: 100%;">
                </div>
                <div class="carousel-caption">
                    <h3><a href="{{ s.get_detail_url }}" style="color:#fff;">{{ s }}</a></h3>
                    <p>Storyboarded by
                        {% for sber in s.storyboarder.all %}{% if not forloop.first %}, {% endif %}<a href="/showcase/author/{{ sber.pk }}">{{ sber }}</a>{% endfor %}.</p>
                    <p><a href="{{ s.get_detail_url }}" class="btn btg-lg btn-primary">Go to this map!</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel-storyboard" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-storyboard" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>