{% extends 'base.html' %}
{% load showcase_extras %}

{% comment %}
Because you reached a page that doesn't exist.
{% endcomment %}

{% block title %}DAREKA TASUKETE{% endblock %}

{% block content %}

    <header class="opening-banner-community"><h1 class="display opening-header">404 Page Not Found Error!</h1><div class="bae-community"></div></header>

    <h1 class="special-banner-1 top-header">Gadzooks!</h1>
    <img class="d-block mx-auto" src="/static/base/hifumi_uhoh.gif" alt="Hifumi's scared that you're here!">
    <p>You've reached here because the page at the URL: {{ request.get_full_path }} doesn't actually exist! Perhaps you should tread back to safer territories. Here. Have a random Storyboard button on me. But if you're absolutely confident that something <i>should</i> have been here, or you've stumbled upon a dead link, do contact Starrodkirby86.</p>
    <p>There's also the possibility that something was supposed to be here, but there was an exception that occurred. Why is it going to Error 404 and not Error 500? Beats me. Seems pretty meta though.</p>
    <p><a class="btn btg-lg btn-secondary" href="/showcase/sb/{% get_random_storyboard as sb %}{{ sb.pk }}">Take Me Away!</a></p>

{% endblock %}