{% comment %}
Base template. Acts as the scaffolding that every page will inhibit.
So basically, we're going to put the stylesheet data here along with header/footer.
Anything that a derivative page needs (like the showcase) will be loaded as a placeholder.
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/base/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base/main.css">
    <link rel="stylesheet" href="/static/base/banner.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f344ebe01e.js"></script>
    <script src="/static/analytics/analytics.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    {# NAV BAR #}
    <nav class="navbar navbar-dark bg-inverse">
    <a href="#" class="navbar-brand">osb!</a>
    {# <div class="mascot"></div> #}
      <ul class="nav navbar-nav navbar-list">
        <li class="nav-item" id="navbar-special-1">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item" id="navbar-special-2">
          <a class="nav-link" href="/showcase">Showcase</a>
        </li>
        <li class="nav-item" id="navbar-special-3">
          <a class="nav-link" href="/learn">Learn</a>
        </li>
        <li class="nav-item" id="navbar-special-4">
          <a class="nav-link" href="/community">Community</a>
        </li>
      </ul>
    </nav>

    {% block header %}{% endblock %}

    {# MAIN CONTENT #}
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {# FOOTER #}
    <footer class="footer">
        <div class="row">
        <div class="osu-cookie d-block mx-auto"></div>
        <p class="small">Powered with <span title="Hifumi's Love!">❤</span></p>
        </div>
    </footer>

    {# This extra bootstrap stuff looks ugly! Yuck! #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
</body>

</html>