{% extends 'base.html' %}

{% comment %}
The community page is going to just contain the Discord server invitation, maybe.
In fact, maybe it can be changed to Resources and Links or something.
{% endcomment %}


{% block title %}Storyboarding Community!{% endblock %}

{% block content %}
    <div class="opening-banner-community"><h1 class="display opening-header">Storyboarders Unite!</h1><div class="bae-community"></div></div>
    <h1 class="special-banner-4 top-header">Looking for new members!</h1>
        <h2 class="special-banner-sub-4">Introduction</h2>
        <p>Do you possess the following qualities?
            <ul class="list-unstyled">
              <li>Twintails</li>
              <li>Kawaii</li>
              <li>As adorable as Hifumi</li>
              <li>Would make for a great body pillow</li>
            </ul>
        If so, congratulations! You're going to get white knighted to death.
        </p>
        <h2 class="special-banner-sub-4 rounded">Sounds great! Where do I sign up?</h2>
        <p>I heard they're looking for people at this place called 4chan. I know the 4-H club is pretty excellent, so I think this place sounds pretty good too. Why don't you check it out sometime?</p>
    <h1 class="special-banner-4 rounded">Serious Information</h1>
        <p>Just kidding. We never have serious information here.</p>
{% endblock %}