{% extends 'base.html' %}
{% load showcase_extras %}

{% comment %}
The community page is going to just contain the Discord server invitation, maybe.
In fact, maybe it can be changed to Resources and Links or something.
{% endcomment %}


{% block title %}Storyboarding Community!{% endblock %}

{% block content %}
    <header class="opening-banner-community"><h1 class="display opening-header">Storyboarders Unite!</h1><div class="bae-community"></div></header>
    <h1 class="special-banner-4 top-header">Discord</h1>
        <div class="media">
            <div class="media-left"><img src="/static/base/img/discord.gif" alt="Discord Screenshot" height="400px" /></div>
            <div class="media-body"><p>There's often a high learning curve for a newbie getting into storyboarding. If you're stuck with a problem, it can be pretty frustrating when there's no one to ask for help, or if there isn't any good documentation online. That's where OSB comes in. We're primarily a Discord server whose main goal is to help and collaborate with others to make the best visual animations osu! has ever seen. Well, that, and have a shrine for Hifumi.</p>
            <p>Do you like storyboards on osu!? Do you want to learn how to make your own? Do you want to improve your storyboarding? Do you want to just worship Hifumi? Feel free to come by our Discord server.</p>
                <p class="h3"><a href="https://discord.gg/B8NX7YW" target="_blank">Click here to join our Discord!</a></p>
            </div>
        </div>
    <h1 class="special-banner-4 rounded">Special Credits</h1>
        <p>Our community is brought to you by amazing osu! players, mappers, and, most importantly among our site, storyboarders. Without these guys, we wouldn't have such wondrous visual works on osu!.</p>
        <div class="card-deck mx-auto">
            <div class="row">
                {% get_storyboarders as sbers_list %}
                {% for s in sbers_list %}
                    {% show_sber_card s %}
                {% endfor %}
            </div>
        </div>
{% endblock %}