{% extends 'base.html' %}
{% load showcase_extras %}

{% block title %}Osu! Storyboarder Banquet{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/base/carousel.css">
{% endblock %}

{% block content %}
    <header class="opening-banner"><h1 class="display opening-header">Osu! Storyboarder Banquet</h1><div class="bae-index"></div></header>
    {% show_screenshot_carousel %}
    <h1 class="special-banner-1 top-header">Overview</h1>
    <p><a href="/showcase/sb/{% get_random_storyboard as sb %}{{ sb.pk }}">Show me a random storyboard!</a></p>
    <h3 class="special-banner-sub-1 rounded">Updates</h3>
    <p>At this point, you can pretty much check out the Github and you'd be essentially set on what's there to see. I think all the hiccups have been addressed. So then at this point, you may be wondering what's new... Aside from everything.</p>
    <p>Layout's been improved drastically. Things are looking less and less placeholder and temporary. That's pretty exciting! We also have some floating girls at the top banner. That's pretty cute.</p>
    <p>I just added more storyboarder-specific things, such as being able to see all the storyboards a storyboarder has created. The Community section has some cute Credits now as a base.</p>
    <p>And now most of the placeholder content is gone! There's some more finer kinks to still adjust, but the site's almost ready.</p>
    <h3 class="special-banner-sub-1 rounded">Future Plans</h3>
    <p>We now have a dedicated roadmap page! <a href="https://osb.moe/roadmap/">Here you go.</a></p>
    <h3 class="special-banner-sub-1 rounded">What Do?</h3>
    <p>If you want to help, just contact Starrodkirby86. :)</p>
{% endblock %}