{% extends 'base.html' %}

{% block title %}Osu! Storyboarder Banquet{% endblock %}

{% block content %}
    <h1 class="display-1">Welcome to Hifumi's Love Dungeon</h1>
    <h1 class="special-banner-1 rounded">Overview</h1>
    <h3 class="special-banner-sub-1 rounded">Updates</h3>
    <p>The showcase kind of works. There's now individual pages for storyboards and storyboarders. You can see more of this in the showcase page. There's also now base pages for "Learn" and "Community".</p>
    <h3 class="special-banner-sub-1 rounded">Future Plans</h3>
    <p>Set up some search mechanism and pagination for the showcase. After that, actually populate this site with content. Then focus on making the layout look appealing.</p>
    <h3 class="special-banner-sub-1 rounded">What Do?</h3>
    <p>If you want to help, just contact Starrodkirby86. :)</p>
{% endblock %}