{% extends 'base.html' %}
{% load showcase_extras %}

{% block title %}Welcome{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/base/carousel.css">
{% endblock %}

{% block content %}
    <header class="opening-banner"><h1 class="display opening-header">Osu! Storyboarder Banquet</h1><div class="bae-index"></div></header>
    {% show_screenshot_carousel %}
    <h1 class="special-banner-1 top-header">Overview</h1>
    <h3 class="special-banner-sub-1 rounded">Updates</h3>
    <p>Bam! I think we have a site going now. BetaStar and I have been working pretty tirelessly getting storyboards, screenshots, and contents populated on this website. We definitely did our darnedest to bring you a really cool webfront to not only check out amazing storyboard visual arts in osu!, but also to perhaps learn how to storyboard and get better at programming.</p>
    <p>You can check specific updates by visiting <a href="https://github.com/osb-group/osb.moe/" target="_blank">the GitHub repo</a>, if you'd like. Otherwise, just make yourself at home and enjoy yourself. Or Hifumi. Or whatever, really.</p>
    <h3 class="special-banner-sub-1 rounded">Future Plans</h3>
    <p>We now have a dedicated roadmap page! <a href="https://osb.moe/roadmap/">Here you go.</a></p>
    <h3 class="special-banner-sub-1 rounded">What Do?</h3>
    <p>If you want to help, just contact Starrodkirby86. :)</p>
{% endblock %}