{% extends 'base.html' %}

{% comment %}
The learn page is just a collection of resources to improve oneself...
{% endcomment %}

{% block title %}Learn Storyboarding!{% endblock %}

{% block content %}
<h1 class="display-1">Storyboarding, mofos!</h1>
<h1 class="special-banner-3 rounded">Placeholder Content</h1>
    <h2 class="special-banner-sub-3 rounded">Absolute cancer</h2>
    <p>Nico nico nii!</p>
    <h2 class="special-banner-sub-3 rounded">Watch out for this!</h2>
    <p>This page is still very much, a work-in-progress.</p>
{% endblock %}