{% extends 'base.html' %}

{% comment %}
The learn page is just a collection of resources to improve oneself...
{% endcomment %}

{% block title %}Learn Storyboarding!{% endblock %}

{% block content %}
    <div class="opening-banner-learn"><h1 class="display opening-header">Learning & Resources</h1><div class="bae-learn"></div></div>
    <h1 class="special-banner-3 top-header">Table of Contents</h1>
    <ol>
        <li><a href="#what-do">Where Should I Begin!?</a></li>
        <li><a href="#beginner">Getting Started</a></li>
        <li><a href="#tools">Modus Operandi - Storyboard Tools</a></li>
        <li><a href="#programming">How Do I Improve My Programming?</a></li>
        <li><a href="#resources">Resources</a></li>
    </ol>
    <h1 class="special-banner-3 rounded" id="what-do">Where Should I Begin!?</h1>
    <h2 class="special-banner-sub-3 rounded">Gauging Yourself</h2>
    <p>"Gosh darn it. I have no idea where to start." This could be the thought running through your head (maybe with more expletives) when you're <i>interested</i> in storyboarding, but feel overwhelmed at where to begin. Hopefully, this little section can help steer you in the right direction.</p>
    <p>A lot of the learning curve associated with storyboarding can come from your background and prior knowledge with programming. While you can create amazing storyboards without programming, such as using the Design Editor, programming helps accelerate development by generating art at more efficiency. Instead of you manually building the blocks of a pyramid, you can tell a computer to do it for you.</p>
    <p>With that in mind, if you have no programming background, you should take begin at <a href="#beginner">Getting Started</a>, then refer to the Goals section as a mini-objectives list to improve yourself on.</p>
    <p>If you already have a programming background, then we highly recommend using <a href="https://github.com/Damnae/storybrew/wiki" target="_blank">storybrew</a>, which uses C#. You can also develop your own libraries in your favorite language as well, but storybrew offers advantages such as having a modular framework for storyboard effects, dynamic file updates, quick configurable parameters, and text sprite rendering. While developing your own library is often a good exercise, there are times where you don't need to reinvent the wheel.</p>
    <h2 class="special-banner-sub-3 rounded">Goals</h2>
    <p>Trying to improve your storyboard game, but not sure what to do? Here are goals to strive for, in a delicious three-course meal! Go through these, and you'll be ready to storyboard the world!</p>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="appetizer">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        The Appetizer
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="appetizer">
                <div class="card-block">
                    <p class="card-text">
                    Just starting out? Let's begin with a delicious sampler appetizer.
                    <ul>
                        <li>Have your background transition between different images, like a slideshow! Even better if you're mapping from your favorite eroge, because you have a whole (well, hopefully) gallery to go off of!</li>
                        <li>Try to apply the basic commands such as Move, Fade, Scale, and Rotation to things like collab names!</li>
                        <li>Apply different types of easing to these existing sprites and images to see what effect they make. Remember, Shift+Ctrl+L is your best friend!</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="entree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        The Entree
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="entree">
                <div class="card-block">
                    <p class="card-text">
                        Scrumptious! But who stops after an appetizer? <small>(Actually, I do sometimes when I feel frugal...)</small> Bon appetit, for this entree feast!
                    <ul>
                        <li>Now that you know the basic commands, try using the more advanced ones, such as Color, Vector Scaling, and Parameters! The additive one is pretty awesome.</li>
                        <li>Once you do those, why not try out the loop command? It's an extremely efficient way of repeatedly executing a certain set of commands.</li>
                        <li>With all of these together, you can make some really cool particle effects. How about going for weather effects, or flying orbs, like a magic show?</li>
                        <li>You should have all the tools you need to make really cool lyrics for your beatmap. Why not try that out?</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="dessert">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        The Dessert
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="dessert">
                <div class="card-block">
                    <p class="card-text">
                        The best part about a dessert is that you can let your whimsical side take control and indulge yourself in sweet decadence. Why not take that approach in storyboarding too?
                    <ul>
                        <li>Try out creative usages of the scale vector and MoveX/MoveY commands! With the right easings, you could make certain orbitals come alive.</li>
                        <li>Transitions are just as important as the content. See if you can incorporate more elaborate ones, or take in cool vignette effects.</li>
                        <li>If you're using a programming tool like storybrew, now it's time to amp it up and see if your particles can conjure shapes. Incorporate trigonometry into your particles' movement patterns and see what happens!</li>
                        <li>Why not watch music videos, whether Western or NicoNicoDouga, and get some inspiration from there? You can also try learning generative art!</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="special-banner-3 rounded" id="beginner">Getting Started</h1>
    <p>So, welcome to the world of storyboarding! Enjoy your stay.</p>
    <p>You may have come here out of interest in creating your own weather effects like rain or snow, or you may have come here out of interest in creating your own bang-up particle effects… or you may have come here wondering how these wizards even do these things.</p>
    <p>You’d be happy to know that you too can actually create these effects, with the freedom to conjure up your own magic as well! It’s best to first learn what commands are possible in storyboarding before diving into everything else.</p>
    <p>In storyboarding, we put graphical objects known as sprites onto the beatmap’s background, and then we tell these sprites what to do from a variety of commands. No matter what medium we use to create our storyboards, all sprites revolve around these commands.</p>
    <p>To begin, <a href="https://osu.ppy.sh/wiki/Storyboard_Scripting_Commands" target="_blank">take a read about storyboard scripting commands here!</a></p>
    <p>For a nice video tutorial, <a href="https://www.youtube.com/watch?v=UJ1YLDs-bZg" target="_blank">watch this video here!</a></p>
    <h1 class="special-banner-3 rounded" id="tools">Modus Operandi - Storyboard Tools</h1>
    <ul>
        <li><a href="https://github.com/Damnae/storybrew/wiki" target="_blank">Storybrew</a></li>
        <li><a href="https://osu.ppy.sh/forum/t/414317" target="_blank">osbpy</a></li>
        <li><a href="https://github.com/Damnae/osu-sgl/wiki" target="_blank">osu!SGL in C#</a></li>
    </ul>
    <h1 class="special-banner-3 rounded" id="programming">How Do I Improve My Programming?</h1>
    <p>While scripting and coding are technically different things, they do share a lot of similar aspects in mindset, critical thinking, and logic. This is often why the whole nature of storyboarding is often blurred with programming – with the power of programming, you can really unleash visual magic.</p>
    <p>So there’s a few things you want to do in improving your programming: do you want to better learn the syntax and quirks of your current language, or do you want to improve your general programming principles and fundamentals?</p>
    <h2 class="special-banner-sub-3 rounded">Language Guides</h2>
    <ul>
        <li><a href="https://docs.oracle.com/javase/tutorial/" target="_blank">Official Java Tutorial</a></li>
        <li><a href="http://www.learncs.org/" target="_blank">LearnC#.org</a></li>
        <li><a href="http://www.learnpython.org/" target="_blank">Learn Python</a></li>
        <li><a href="http://learnpythonthehardway.org/book/" target="_blank">Learn Python The Hard Way</a></li>
    </ul>
    <h2 class="special-banner-sub-3 rounded">Programming Fundamentals</h2>
    <ul>
        <li><a href="https://www.reddit.com/r/learnprogramming/wiki/online" target="_blank">r/learnprogramming Online Resources</a></li>
        <li><a href="https://www.coursera.org/" target="_blank">Coursera</a></li>
        <li><a href="https://www.udacity.com/" target="_blank">Udacity</a></li>
        <li><a href="https://www.hackerrank.com//" target="_blank">HackerRank</a></li>
        <li><a href="https://repl.it/" target="_blank">Repl.it</a></li>
        <li><a href="https://www.codingame.com/" target="_blank">Codingame</a></li>
        <li><a href="http://algs4.cs.princeton.edu/home/" target="_blank">Algorithms by Sedgewick</a></li>
        <li><a href="https://opendsa-server.cs.vt.edu/" target="_blank">OpenDSA</a></li>
    </ul>
    <h1 class="special-banner-3 rounded" id="resources">Resources</h1>
    <h2 class="special-banner-sub-3 rounded">Storyboarding Resources</h2>
    <ul>
        <li><a href="https://osu.ppy.sh/forum/t/532042" target="_blank">OSB Optimizer by yf_bmp</a></li>
        <li><a href="https://osu.ppy.sh/u/LordRaika" target="_blank">LordRaika's Hitsound and SB Particles Library</a></li>
        <li><a href="https://osu.ppy.sh/forum/t/378938" target="_blank">SGL & Optimization Guide by Wafu</a></li>
        <li><a href="https://osu.ppy.sh/wiki/Storyboard_Scripting_Commands" target="_blank">Storyboard Scripting Wiki on osu!wiki</a></li>
    </ul>
    <h2 class="special-banner-sub-3 rounded">Examples</h2>
    <p>Coming soon to a storyboard near you!</p>
{% endblock %}