{% extends 'base.html' %}

{% comment %}
The learn page is just a collection of resources to improve oneself...
{% endcomment %}

{% block title %}Learn Storyboarding!{% endblock %}

{% block content %}
    <div class="opening-banner-learn"><h1 class="display opening-header">Learning & Resources</h1><div class="bae-learn"></div></div>
    <h1 class="special-banner-3 top-header">Table of Contents</h1>
    <ol>
        <li><a href="#what-do">Where Should I Begin!?</a></li>
        <li><a href="#beginner">Getting Started</a></li>
        <li><a href="#tools">Modus Operandi - Storyboard Tools</a></li>
        <li><a href="#programming">How Do I Improve My Programming?</a></li>
        <li><a href="#resources">Resources</a></li>
    </ol>
    <h1 class="special-banner-3 rounded" id="what-do">Where Should I Begin!?</h1>
    <h2 class="special-banner-sub-3 rounded">Gauging Yourself</h2>
    <p>Placeholder. :)</p>
    <h2 class="special-banner-sub-3 rounded">Goals</h2>
    <p>Trying to improve your storyboard game, but not sure what to do? Here are goals to strive for, in a delicious three-course meal! Go through these, and you'll be ready to storyboard the world!</p>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="appetizer">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        The Appetizer
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="appetizer">
                <div class="card-block">
                    Nico nico nii~
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="entree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        The Entree
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="entree">
                <div class="card-block">
                    Nico nico nii!!!
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="dessert">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        The Dessert
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="dessert">
                <div class="card-block">
                    :D
                </div>
            </div>
        </div>
    </div>
    <h1 class="special-banner-3 rounded" id="beginner">Getting Started</h1>
    <p>So, welcome to the world of storyboarding! Enjoy your stay.</p>
    <p>You may have come here out of interest in creating your own weather effects like rain or snow, or you may have come here out of interest in creating your own bang-up particle effects… or you may have come here wondering how these wizards even do these things.</p>
    <p>You’d be happy to know that you too can actually create these effects, with the freedom to conjure up your own magic as well! It’s best to first learn what commands are possible in storyboarding before diving into everything else.</p>
    <p>In storyboarding, we put graphical objects known as sprites onto the beatmap’s background, and then we tell these sprites what to do from a variety of commands. No matter what medium we use to create our storyboards, all sprites revolve around these commands.</p>
    <p>To begin, <a href="https://osu.ppy.sh/wiki/Storyboard_Scripting_Commands" target="_blank">take a read about storyboard scripting commands here!</a></p>
    <p>For a nice video tutorial, <a href="https://www.youtube.com/watch?v=UJ1YLDs-bZg" target="_blank">watch this video here!</a></p>
    <h1 class="special-banner-3 rounded" id="tools">Modus Operandi - Storyboard Tools</h1>
    <ul>
        <li><a href="https://github.com/Damnae/storybrew/wiki" target="_blank">Storybrew</a></li>
        <li><a href="https://osu.ppy.sh/forum/t/414317" target="_blank">osbpy</a></li>
        <li><a href="https://github.com/Damnae/osu-sgl/wiki" target="_blank">osu!SGL in C#</a></li>
    </ul>
    <h1 class="special-banner-3 rounded" id="programming">How Do I Improve My Programming?</h1>
    <p>While scripting and coding are technically different things, they do share a lot of similar aspects in mindset, critical thinking, and logic. This is often why the whole nature of storyboarding is often blurred with programming – with the power of programming, you can really unleash visual magic.</p>
    <p>So there’s a few things you want to do in improving your programming: do you want to better learn the syntax and quirks of your current language, or do you want to improve your general programming principles and fundamentals?</p>
    <h2 class="special-banner-sub-3 rounded">Language Guides</h2>
    <ul>
        <li><a href="https://docs.oracle.com/javase/tutorial/" target="_blank">Official Java Tutorial</a></li>
        <li><a href="http://www.learncs.org/" target="_blank">LearnC#.org</a></li>
        <li><a href="http://www.learnpython.org/" target="_blank">Learn Python</a></li>
        <li><a href="http://learnpythonthehardway.org/book/" target="_blank">Learn Python The Hard Way</a></li>
    </ul>
    <h2 class="special-banner-sub-3 rounded">Programming Fundamentals</h2>
    <ul>
        <li><a href="https://www.reddit.com/r/learnprogramming/wiki/online" target="_blank">r/learnprogramming Online Resources</a></li>
        <li><a href="https://www.coursera.org/" target="_blank">Coursera</a></li>
        <li><a href="https://www.udacity.com/" target="_blank">Udacity</a></li>
        <li><a href="https://www.hackerrank.com//" target="_blank">HackerRank</a></li>
        <li><a href="https://repl.it/" target="_blank">Repl.it</a></li>
        <li><a href="https://www.codingame.com/" target="_blank">Codingame</a></li>
        <li><a href="http://algs4.cs.princeton.edu/home/" target="_blank">Algorithms by Sedgewick</a></li>
        <li><a href="https://opendsa-server.cs.vt.edu/" target="_blank">OpenDSA</a></li>
    </ul>
    <h1 class="special-banner-3 rounded" id="resources">Resources</h1>
    <h2 class="special-banner-sub-3 rounded">Storyboarding Resources</h2>
    <ul>
        <li><a href="https://osu.ppy.sh/forum/t/532042" target="_blank">OSB Optimizer by yf_bmp</a></li>
        <li><a href="https://osu.ppy.sh/forum/t/378938" target="_blank">SGL & Optimization Guide by Wafu</a></li>
        <li><a href="https://osu.ppy.sh/wiki/Storyboard_Scripting_Commands" target="_blank">Storyboard Scripting Wiki on osu!wiki</a></li>
    </ul>
    <h2 class="special-banner-sub-3 rounded">Examples</h2>
    <p>Coming soon to a storyboard near you!</p>
{% endblock %}