{% extends 'base.html' %}

{% comment %}
Roadmap!
{% endcomment %}

{% block title %}Roadmap{% endblock %}

{% block content %}
    <header class="opening-banner-community"><h1 class="display opening-header">Roadmap</h1><div class="bae-index"></div></header>

    <h1 class="special-banner-1 top-header">Future Plans!</h1>
    <p>Here's a dedicated page for future plans. I don't think a text-based document is going to do anymore.</p>
    <h3 class="special-banner-sub-1 rounded">Roadmap!</h3>
    <iframe src="https://trello.com/b/dyXbXLtN.html" frameBorder="0" width="100%" height="500"></iframe>

{% endblock %}