{% extends "base.html" %}
{% load showcase_extras %}

{% comment %}
The user control panel is just an access point for a user to check or deal with various settings.
Stuff in here includes things like an easy access panel to edit your storyboards, profile, whatever.
{% endcomment %}

{% block title %}User Control Panel{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/base/sb.css">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <strong>Welcome, {{ user.username }}!</strong>
    {% else %}
        <div class="alert alert-danger col-xs-12" role="alert">
            <strong>Heads up!</strong> What use is a user panel when you aren't logged in? Go log in, you silly willy!
        </div>
    {% endif %}
{% endblock %}